// -- ESTO ES UN ARCHIVO DE CONFIGURACION PARA USARLO AY QUE DESCARGAR SU EXTENXION Y LUEGO LO CONFIGURAMOS

indent_style = tab
end_of_line = lf
insert_final_newline = true
tab_width = 2
charset = utf-8
trim_trailing_whitespace = true